#createDeploymentForm textarea {
  width: 100%;
  height: 500px;
}

.validation-error-message {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.65rem;
  font-size: 110%;
  color: #dc3545;
}

#refreshDeploymentsButton {
  margin: 15px;
}
