<mat-form-field>
      <input matInput placeholder="Namespace" [formControl]="nameSpaceFormControl" required>
      <mat-error *ngIf="nameSpaceFormControl.invalid">Namespace must be set</mat-error>
</mat-form-field>

<mat-tab-group>
  <mat-tab label="Create deployment">
    <mat-card>
      <mat-card-content>
        <form id="createDeploymentForm" [formGroup]="createDeploymentForm" (ngSubmit)="submit()">
          <h4>Manifest file:</h4>
          <div *ngIf="createDeploymentForm.controls['manifest'].invalid && createDeploymentForm.touched" class="validation-error-message">
            <div *ngIf="createDeploymentForm.controls['manifest'].errors['required']">Manifest declaration is required</div>
          </div>
          <textarea id="manifest" class="form-control" formControlName="manifest"></textarea>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button form="createDeploymentForm">Submit</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="List deployments">
    <button id="refreshDeploymentsButton" mat-stroked-button (click)="refreshList()">Refresh deployments list</button>
    <mat-card>
      <mat-card-content>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="uid">
              <mat-header-cell *matHeaderCellDef> UID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.uid}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="namespace">
              <mat-header-cell *matHeaderCellDef> Namespace </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.namespace}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="images">
              <mat-header-cell *matHeaderCellDef> Images </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.images[0]?.name}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>






