<h1 mat-dialog-title>{{ error.modalHeader }}</h1>
<div mat-dialog-content>

  <mat-card>
    <mat-card-header>
      Error content:
    </mat-card-header>
    <mat-card-content>
      {{ error?.apiError?.errorMessage }}
    </mat-card-content>
  </mat-card>

  <br/>

  <mat-card>
    <mat-card-header>
      Error reason:
    </mat-card-header>
    <mat-card-content>
      {{ error?.apiError?.cause }}
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="close()">{{error.okButtonLabel}}</button>
</div>
